body {
    margin: 0;
    font-family: 'Circe';
    background: whitesmoke;
}

.header {
    display: grid;
    justify-content: center;
    background-color: #1FA8AD;
    width: 100%;
    height: 96px;
    position: absolute;
    top: 0;
    left: 0;
}

.header-inner-wrapper,
.footer-inner-wrapper {
    display: flex;
    padding-top: 24px;
}

.header__burger-btn {
    display: none;
    margin-left: 25px;
    position: absolute;
    left: 0;
    width: 40px;
    height: 40px;
    border: none;
    background-color: #1FA8AD;
    cursor: pointer;
}

.header__burger-btn:hover {
    opacity: 0.7;
}

.header__burger-btn span {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #fff;
    left: 5px;
    transition: transform .5s, opacity .5s;
}

.header__burger-btn span:nth-child(1) {
    transform: translateY(-10px);
}

.header__burger-btn span:nth-child(3) {
    transform: translateY(10px);
}

.header.open .header__burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
    opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}

.header-inner-wrapper__a,
.header-inner-wrapper__img,
.footer-inner-wrapper__a,
.footer-inner-wrapper__img {
    width: 200px;
    height: 48px;
}

.header-menu,
.footer-menu {
    display: flex;
    list-style: none;
    padding-left: 31.5px;
    padding-right: 31.5px;
    gap: 32px;
    margin-top: 12.5px;
}

.header-menu__list,
.footer-menu__list {
    font-size: 18px;
}

button:hover,
.header-inner-wrapper__img:hover,
.footer-inner-wrapper__img:hover,
.header-menu__list:hover,
.header-inner-wrapper__right-img:hover,
.footer-inner-wrapper__right-img:hover,
.footer-menu__list:hover,
.form-btn__submit:hover {
    opacity: 0.7;
}

.header-menu__a,
.footer-menu__a{
    text-decoration: none;
    color: #fff;
}

.header-inner-wrapper__btn,
.footer-inner-wrapper__btn {
    font-family: 'Circe';
    color: #1FA8AD;
    cursor: pointer;
    font-size: 13px;
    font-weight: 700;
    line-height: 16.25px;
    letter-spacing: 0.05em;
    width: 175px;
    height: fit-content;
    margin-top: 5px;
    padding: 12px 20px 10px 20px;
    border: none;
}

.header-inner-wrapper__btn:hover,
.footer-inner-wrapper__btn:hover {
    opacity: 0.9;
}

.header-inner-wrapper__right-img,
.footer-inner-wrapper__right-img {
    width: 48px;
    height: 48px;
}

.header-inner-wrapper__right,
.footer-inner-wrapper__right {
    display: flex;
    gap: 19px;
    padding-right: 32px;
}

.first-screen {
    background: url('/images/first-screen__bgc.png');
    background-size: 100% 600px;
    margin-top: 96px;
    background-repeat: no-repeat;
}

.about-h1__text,
.info-h1,
.review-h1 {
    margin: 160px auto 80px auto;
    display: flex;
    justify-content: center;
    font-weight: 800;
    line-height: 70px;
    font-size: calc(27px + 29 * (100vw / 2200));
}

.first-screen__h1 {
    line-height: 70px;
    margin: 0;
    padding-top: 124px;
    font-size: calc(27px + 29 * (100vw / 2200));
}

.first-screen__inner-wrapper {
    padding-top: 139px;
    gap: 24px;
    justify-content: center;
}

.first-screen__inner-wrapper-card {
    background-color: #fff;
    color:#000;
    max-width: 426px;
}

.first-screen__inner-wrapper-card:hover {
    cursor: pointer;
    opacity: 0.7;
}

.first-screen__inner-wrapper-card-active {
    background-color: #1FA8AD;
    color: #fff;
    animation: moving 1s ease;
}

.first-screen__item-header {
    display: flex;
}

.first-screen__item-p {
    font-size: 15px;
    font-weight: 400;
    line-height: 18.75px;
    margin: 16px 32px 36px 116px;
}

.first-screen__item-h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin-top: 37.5px;
    margin-bottom: 0;
    font-size: calc(22px + 2 * (100vw / 2200));
}

.first-screen__item-img {
    padding: 28px 20px 0 32px;
}

.about-content {
    margin: 0 auto;
}

.about-p {
    padding-bottom: 60px;
    margin: 0 auto;
    text-align: center;
}

.about-content-img {
    margin: 60px 0;
    max-width: 100%;
}

.tabs-nav {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 0 auto 60px auto;
}

.tabs__nav-btn {
    cursor: pointer;
    font-family: 'Circe';
    padding: 12px 24px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.5px;
    white-space: nowrap;
    border: none;
    background: #fff;
}

.tabs__item.active {
    display: block;
}

.tabs__nav-btn.active {
    cursor: default;
    background-color: #1FA8AD;
    color: #fff;
    transition: color .3s ease-in-out,background-color .3s ease-in-out
}

.tabs__nav-btn.active:hover {
    opacity: 1;
}

.tabs__content {
    margin: 0 auto;
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    gap:81px;
    flex-wrap:wrap;
}

.tabs__item {
    display: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.5px;
    padding-left: 0;
    animation: moving 1s ease;
}

.info__p {
    width: 242px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    font-size: calc(16px + 8 * (100vw / 1920));
}

.info__topic-p {
    margin: 49px 0 36px 0;
    margin-bottom: 36px;
    background: #fff;
    max-width: 320px;
    padding: 16px 32px 16px 32px;
    gap: 10px;
    border-radius: 16px 16px 16px 0px;
    font-size: 18px;
    line-height: 22.5px;
}

.info__topic-img {
    max-width: 100%;
}

.info__first,
.info__second {
    column-gap: 24px;
}

.info__third-1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.info__third-1,
.info__first-1,
.info__first-2,
.info__second-1,
.info__second-2 {
    min-width: 306px;
}

.info__first-1,
.info__first-2,
.info__second-1,
.info__second-2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 36px;
}

.info__container {
    display: flex;
    gap: 102px;
}

.slider {
    justify-content: center;
    gap: 24px;
    animation: moving 1s ease;
}
.slider__item {
    max-width: 420px;
    background-color: #fff;
}

.slider__item-content {
    margin: 0 25px 0 25px;
}

.slider__item-h {
    font-size: 21px;
    font-weight: 700;
    line-height: 26.25px;
}

.slider__item-text {
    font-size: 15px;
    font-weight: 400;
    line-height: 18.75px;
    opacity: 75%;
}

.slider__item-name {
    margin-top: 28px;
    font-size: 13px;
    font-weight: 700;
    line-height: 16.25px;
    letter-spacing: 0.05em;
}   

.slider__item-post {
    font-size: 15px;
    line-height: 18.75px;
    opacity: 0.5;
    margin-top: 12px;
}

.slider__img {
    padding: 40px 0 36px 25px;
}

.slider-2 {
    display: none;
}

@keyframes moving {
    from{transform: translateX(50px); opacity: 0;}
    to{transform: translateX(0px); opacity: 1;}
}
.review__navigator {
    margin-top: 60px;
    gap: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review__btn {
    padding: 16px;
    cursor: pointer;
    background: #1FA8AD;
    border: none;
}

.btn-opacity {
    opacity: 50%;
}

.review__btn-i {
    border: 2.5px solid #fff;
    border-width: 0 2.5px 2.5px 0;
    display: block;
    padding: 3px;
}

.review__btn-right {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.review__btn-left {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.review__index {
    letter-spacing: 12px;
}

.form-content__h {
    font-weight: 800;
    font-size: calc(27px + 29 * (100vw / 2200));
}

.form-content__span {
    color: #1FA8AD;
}

.form {
    background-color: #fff;
}

.form-input {
    border: 1px solid #1A1A1A;
    padding: 20px 24px 20px 24px;
    margin: 0 45px 0 45px;
}

.form-input:nth-child(2),
.form-input:nth-child(3) {
    margin-bottom: 24px;
}

.form-input:nth-child(4) {
    margin-bottom: 28px;
}

.form-content {
    margin: 160px 0 160px 0;
    justify-content: space-between;
    align-items: center;
}

.form__h {
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    margin: 48px 0 40px 0;
    font-size: calc(27px + 5 * (100vw / 2200));
}

.forms {
    display: grid;
}

.forms__checkbox {
    display: flex;
    margin-left: 45px;
    gap: 16px;
    align-items: center;
}

.form-input {
    font-family: 'Circe';
    font-size: 15px;
    line-height: 18.75px;
}

#forms-label {
    color: #1FA8AD;
    font-size: 15px;
    cursor: pointer;
}

.form-btn__submit {
    font-family: 'Circe';
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.05em;
    background-color: #1FA8AD;
    color: #fff;
    padding: 20px 40px 20px 40px; 
    margin: 36px 156.5px 48px 156.5px;
    border: none;
    cursor: pointer;
}

#forms-checkbox {
    margin: 0;
    height: 20px;
    width: 20px;
}

#forms-checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid #1FA8AD;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#forms-checkbox:hover {
    background-color: rgb(211, 208, 208);
}

#forms-checkbox:checked {
    background-color: #1FA8AD;
}

#forms-checkbox::after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 800;
    font-size: 14px;
    content: '\f00c';
    color: #fff;
}

/* modal */
#form-modal {
    visibility: hidden;
    opacity: 0;
    transition: all 0.9s ease 0s;
    position: fixed;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0, 0.8);
    z-index: 3;
}

#form-modal.open-modal {
    visibility: visible;
    opacity: 1;
}

.form__content {
    top: 20%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 0px 6px #fff;
}

.form__content_h {
    padding-top: 30px;
}

.popup__close {
    position: absolute;
    cursor: pointer;
    top: 8px;
    right: 16px;
    font-size: 21px;
    color: #1FA8AD;
}

/* modal end*/

.footer {
    position: absolute;
    display: grid;
    left: 0;
    background-color: #1FA8AD;
    width: 100%;
    padding-top: 60px;
    justify-content:center;
    margin-left: 0;
} 

.footer-inner-wrapper {
    padding: 0;
    border-bottom: 1px solid #FFFFFF4D;
}

.footer-menu {
    margin-bottom: 72.5px;
}

.footer__copyright {
    display: flex;
}

.footer__copyright-p {
    margin: 32px auto 32px auto;
    font-size: 13px;
    line-height: 16.25px;
    letter-spacing: 0.05em;
    color: #fff;
    opacity: 50%;
}

@media (max-width: 1330px) {
    .header__burger-btn {
        display: block;
        z-index: 2;
    }

    .header {
        justify-content: end;
    }

    .header-menu {
        display: grid;
        position: absolute;
        left: -100%;
        top: 0;
        background-color: #1FA8AD;
        width: 100%;
        justify-items: center;
        gap: 50px;
        transition: transform .2s;
    }

    .header.open .header-menu {
        transform: translateX(100%);
    }

    .header-inner-wrapper__right,
    .footer-menu {
        display: none;
    }
}

@media (max-width: 1399px) {
    .info__third-1 {
        margin: 0;
    }

    .forms {
        justify-content: center;
        justify-items: center;
    }

    .forms__checkbox {
        width: 300px;
    }
}

@media (max-width: 560px) {
    .footer-inner-wrapper  {
        flex-direction: column;
        align-items: center;
    }

    .forms {
        align-self: center;
        justify-content: center;
        justify-items: center;
    }

    .form-input {
        width: 280x;
        margin: 0 0 24px 0;
    }

    .forms__checkbox {
        width: 248px;
    }

    .header-inner-wrapper__a {
        display: none;
    }
}

